
body{
    background-color: green;


    h1{
        background-color: teal;
        text-align: center;
        flex-grow: 1;
        font-size: 10rem;
        font-family: monospace;
        font-weight: 700;
        color: chartreuse;
    }
    span{
        font-size: 10rem;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-left: 20rem;
        background-color: teal;
        font-weight: 700;
        color: chartreuse;
    }
}